* {
  margin: 0;
  padding: 0;
}
<<<<<<< HEAD
body {
  background: radial-gradient(#75c6c3, #3b6362);
}
=======

#timeline-container {
  width: 100%;
  min-height: 100vh;
  margin: auto;
  background: radial-gradient(#75c6c3, #3b6362);
}

.hide {
  display: none;
}
>>>>>>> d9277bb3c4b348caf7027c3ed53e340fe2e4e292
