* {
  margin: 0;
  padding: 0;
}

section {
  width: 100vw;
  height: 100vh;
}

@keyframes blinkingButton {
  0% {
    fill: #000;
  }
  49% {
    fill: #000;
  }
  60% {
    fill: #78cdd5;
  }
  99% {
    fill: #78cdd5;
  }
  100% {
    fill: #000;
  }
}

#blue_button {
  animation: blinkingButton 1.2s infinite;
}

@keyframes zoom {
  to {
    transform: scale(1);
  }
  from {
    transform: scale(10);
  }
}

.zoom {
  animation: zoom 3s 1;
}
