* {
  margin: 0;
  padding: 0;
}

#box {
  display: flex;
  justify-content: center;
  min-height: 95vh;
  background-color: lightblue;
}

div#computer {
  width: 75vh;
  height: 100vh;
}

@keyframes blinkingBlueButton {
  0% {
    fill: #000;
  }
  49% {
    fill: #000;
  }
  60% {
    fill: #78cdd5;
  }
  99% {
    fill: #78cdd5;
  }
  100% {
    fill: #000;
  }
}

#blue_button {
  animation: blinkingBlueButton 1.2s infinite;
}

/* @-webkit-keyframes scale-up-ver-center {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes scale-up-ver-center {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

#screen_on {
  -webkit-animation: scale-up-ver-center 0.4s
    cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-ver-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
} */
