* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

#box {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 100vh;
  background: radial-gradient(#75c6c3, #3b6362);
}

#computer {
  width: 128vh;
}

.back-button {
  width: 15vw;
  height: 12vh;
  padding: 1vw;
}

/* conference call */
.call-container {
  width: 100%;
  min-height: 100vh;
  margin: auto;
  background: radial-gradient(#75c6c3, #3b6362);
  text-align: center;
  position: relative;
}

#call-screen {
  width: 70%;
}

#back-button {
  width: 12%;
  margin-bottom: 5vw;
  padding: 1vw;
}

.phone-circle {
  position: absolute;
  width: 12vw;
  height: 12vw;
  top: 20vw;
  left: 44vw;
  background: #00a1ff;
  border-radius: 100%;
}

.phone img {
  position: absolute;
  top: 22vw;
  left: 46vw;
  width: 8%;
  animation: ringing 1s infinite ease-in-out;
  transform-origin: 50% 50%;
}

@keyframes ringing {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
}
/*------------Conference Page-------------*/
.conference-container {
  position: absolute;

  height: 34vw;
  width: 54vw;
  top: 9vw;
  left: 23vw;
}
.person-box1 {
  position: absolute;
  background-image: url(static/img/avatar-person.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 15vw;
  width: 18vw;
  top: 2vw;
  left: 6vw;
}
.person-box2 {
  position: absolute;
  background-image: url(static/img/avatar-person.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 15vw;
  width: 18vw;
  top: 2vw;
  left: 31vw;
}
.person-box3 {
  position: absolute;
  background-image: url(static/img/avatar-person.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 15vw;
  width: 18vw;
  top: 18vw;
  left: 19vw;
}
/*--blinking eyes--*/
.eyes1 {
  position: absolute;
  background-image: url(static/img/eyes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  top: 4.4vw;
  left: 6.2vw;
  width: 5.5vw;
  height: 3vw;
  animation: blink 3s infinite;
}
.eyes2 {
  position: absolute;
  background-image: url(static/img/eyes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  top: 4.4vw;
  left: 6.2vw;
  width: 5.5vw;
  height: 3vw;
  animation: blink 3s infinite;
  animation-delay: 2s;
}
.eyes3 {
  position: absolute;
  background-image: url(static/img/eyes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  top: 4.4vw;
  left: 6.2vw;
  width: 5.5vw;
  height: 3vw;
  animation: blink 3s infinite;
  animation-delay: 1s;
}
@keyframes blink {
  0%,
  100% {
    transform: scale(1, 0.05);
  }
  5%,
  95% {
    transform: scale(1, 1);
  }
}
/*----mouth talking-----*/
.mouth1 {
  position: absolute;
  background-image: url(static/img/mouth.svg);
  background-repeat: no-repeat;
  background-position-x: -0.05vw;
  background-position-y: -2.4vw;
  background-size: 100%;
  height: 1.7vw;
  width: 5vw;
  top: 7vw;
  left: 6.3vw;
  animation: mouthSize 0.5s infinite;
  animation-iteration-count: 5;
}
@keyframes mouthSize {
  0%,
  100% {
    height: 0vw;
  }

  50% {
    height: 2vw;
  }
}
.mouth2 {
  position: absolute;
  background-image: url(static/img/mouth.svg);
  background-repeat: no-repeat;
  background-position-x: -0.05vw;
  background-position-y: -2.4vw;
  background-size: 100%;
  height: 1.7vw;
  width: 5vw;
  top: 7vw;
  left: 6.3vw;
  animation: mouthSize 0.3s infinite;
}
@keyframes mouthSize {
  0%,
  100% {
    height: 0vw;
  }

  50% {
    height: 2vw;
  }
}
.mouth3 {
  position: absolute;
  background-image: url(static/img/mouth.svg);
  background-repeat: no-repeat;
  background-position-x: -0.05vw;
  background-position-y: -2.4vw;
  background-size: 100%;
  height: 1.7vw;
  width: 5vw;
  top: 7vw;
  left: 6.3vw;
  animation: mouthSize 0.4s infinite;
  animation-delay: 2s;
}
@keyframes mouthSize {
  0%,
  100% {
    height: 0vw;
  }

  50% {
    height: 2vw;
  }
}
